<div class="container">
    <div class="photo">
        <img src="https://th.bing.com/th/id/R.38f498fa722a940bdaafabf5af3f6941?rik=j9ytx1VgNoev2Q&pid=ImgRaw&r=0" />
    </div>
    <div class="title">
        <h1>
            <a href="#">Saiu a nova versão do Angular</a>
        </h1>
    </div>
    <div class="description">
        <p>
            <a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</a>
        </p>
    </div>
</div>
